#chatbox {
    margin: 80px 10%;
    height: 100%;
    background: white;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: stretch;
    align-items: stretch;
}

#ufhkhm {
    /* background-color: #fff; */
    background-color: rgba(var(--d87,255,255,255),1);
    /* border-right: 1px solid #dbdbdb; */
    border-right: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 100%;
    overflow: hidden;
    width: 350px;
}

#wahucg {
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0 20px;
    width: 100%;
    z-index: 2;
}

#xhlqzi {
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    align-items: center;
    flex-direction: row;
    height: inherit;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

#vrovcm {
    margin-right: 8px;
    flex-basis: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

#femfxl {
    -webkit-box-align: center;
    flex: 1;
    -webkit-box-pack: center;
    align-items: center;
    color: rgba(var(--i1d,38,38,38),1);
    display: inline-block;
    -webkit-box-flex: 1;
    justify-content: center;
    min-width: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#mkfkwz {
    font-weight: 500;
}