#chatbox #chatbox_row1{
    border-radius: 3px ;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#chatbox #chatbox_row2{
    height: 510px !important;
}

#chatbox #chatbox_row1 #options {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6 !important;
    padding-right: 20px;
    padding-left: 20px;
}

#chatbox #chatbox_row2 #chatbox_col1::-webkit-scrollbar {
    display: none ;
}

#chatbox #chatbox_row1 #chatbox_col1 #options #choose_accounts {
    cursor: pointer;
}

#chatbox svg {
    cursor: pointer;
}

#chatbox #chatbox_row2 #chatbox_col1 #conversations_block {
    margin-top: 10px;
}

#chatbox #chatbox_row2 #chatbox_col1 #conversations_block #conversation:hover {
    background-color: #fafbfb ;
}

#chatbox #chatbox_row2 #chatbox_col1 #conversations_block #conversation {
    align-items: center;
    padding: 10px 25px;
    cursor: pointer;
}

#chatbox #chatbox_row2 #chatbox_col2 #message_box{
    display: flex;
    justify-content: space-between;
    border: 1px solid #dbdbdb!important;
    align-items: center;
    padding: 3px 15px;
    border-radius: 100px;
    height: 44px;
}

#chatbox #chatbox_row2 #chatbox_col2 #message_box textarea {
    border: 0;
    resize: none;
    padding: 5px 9px;
    overflow: auto;
    background-color: transparent;
    height: 100%;
}
