@media (min-width: 992px) {
    #news_feed {
        width: 90% !important;
    }

    #news_feed #suggestion_row #suggestion_col {
        max-width: 100% !important;
    }
}

@media (max-width: 570px) {
    #news_feed {
        /* padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 0px !important;
        margin-top: 54px !important;
        width: 100% !important;
        margin-left: 2px !important; */
    }
}

#news_feed #suggestion_row {
    width: 60%;
    border-radius: 4px;
    padding: 20px 0;
}

#news_feed #suggestion_row #suggestion_col{
    height: 200px;
}

@media (max-width: 991px) {
    #news_feed #suggestion_row {
        width: 105%;
    }
}

#suggestion_col .d-flex::-webkit-scrollbar {
    display: none;
}