#top-navbar {
    padding: 6px 20px 4px 20px !important;
}

#search {
    width: 25%;
}

#top-navbar-nav li{
    margin-left: 20px;
}

#top-navbar-nav li svg {
    cursor: pointer;
}

@media( min-width: 992px ) {
    #top-navbar .container {
        width: 78%;
    }
}

@media(max-width: 540px) {
    #search {
        display: none;
    }
}

@media (max-width: 570px) {
    #top-navbar .container {
        display: flex;
        justify-content: space-between;
    }

    #top-navbar .container #search {
        display: none;
    }

    #top-navbar #top-navbar-nav #home{
        display: none;
    }

    #top-navbar #top-navbar-nav #profile{
        display: none;
    }

    #top-navbar #top-navbar-nav #heart{
        display: none;
    }

    #top-navbar #top-nav-icons {
        width: 0 !important;
    }
}

@media (min-width: 571px) {
    #top-navbar .container #camera {
        display: none;
    }
}